<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.ActivityTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.ActivityTemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="gived_number" property="givedNumber" jdbcType="INTEGER" />
    <result column="daily" property="daily" jdbcType="INTEGER" />
    <result column="max_play_number" property="maxPlayNumber" jdbcType="INTEGER" />
    <result column="check_type" property="checkType" jdbcType="INTEGER" />
    <result column="check_url" property="checkUrl" jdbcType="VARCHAR" />
    <result column="fixed_probability" property="fixedProbability" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="object" property="object" jdbcType="VARCHAR" />
    <result column="rules" property="rules" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, user_type, gived_number, daily, max_play_number, check_type, check_url, 
    fixed_probability, description, object, rules, create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.vrp.province.model.ActivityTemplate" >
    insert into activity_template (id, activity_id, user_type, 
      gived_number, daily, max_play_number, 
      check_type, check_url, fixed_probability, 
      description, object, rules, 
      create_time, update_time, delete_flag
      )
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{givedNumber,jdbcType=INTEGER}, #{daily,jdbcType=INTEGER}, #{maxPlayNumber,jdbcType=INTEGER}, 
      #{checkType,jdbcType=INTEGER}, #{checkUrl,jdbcType=VARCHAR}, #{fixedProbability,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR}, #{rules,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.ActivityTemplate" >
    insert into activity_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="givedNumber != null" >
        gived_number,
      </if>
      <if test="daily != null" >
        daily,
      </if>
      <if test="maxPlayNumber != null" >
        max_play_number,
      </if>
      <if test="checkType != null" >
        check_type,
      </if>
      <if test="checkUrl != null" >
        check_url,
      </if>
      <if test="fixedProbability != null" >
        fixed_probability,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="object != null" >
        object,
      </if>
      <if test="rules != null" >
        rules,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="givedNumber != null" >
        #{givedNumber,jdbcType=INTEGER},
      </if>
      <if test="daily != null" >
        #{daily,jdbcType=INTEGER},
      </if>
      <if test="maxPlayNumber != null" >
        #{maxPlayNumber,jdbcType=INTEGER},
      </if>
      <if test="checkType != null" >
        #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkUrl != null" >
        #{checkUrl,jdbcType=VARCHAR},
      </if>
      <if test="fixedProbability != null" >
        #{fixedProbability,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="object != null" >
        #{object,jdbcType=VARCHAR},
      </if>
      <if test="rules != null" >
        #{rules,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.ActivityTemplate" >
    update activity_template
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="givedNumber != null" >
        gived_number = #{givedNumber,jdbcType=INTEGER},
      </if>
      <if test="daily != null" >
        daily = #{daily,jdbcType=INTEGER},
      </if>
      <if test="maxPlayNumber != null" >
        max_play_number = #{maxPlayNumber,jdbcType=INTEGER},
      </if>
      <if test="checkType != null" >
        check_type = #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkUrl != null" >
        check_url = #{checkUrl,jdbcType=VARCHAR},
      </if>
      <if test="fixedProbability != null" >
        fixed_probability = #{fixedProbability,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="object != null" >
        object = #{object,jdbcType=VARCHAR},
      </if>
      <if test="rules != null" >
        rules = #{rules,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.ActivityTemplate" >
    update activity_template
    set activity_id = #{activityId,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      gived_number = #{givedNumber,jdbcType=INTEGER},
      daily = #{daily,jdbcType=INTEGER},
      max_play_number = #{maxPlayNumber,jdbcType=INTEGER},
      check_type = #{checkType,jdbcType=INTEGER},
      check_url = #{checkUrl,jdbcType=VARCHAR},
      fixed_probability = #{fixedProbability,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      object = #{object,jdbcType=VARCHAR},
      rules = #{rules,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByActivityId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from activity_template
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </select>
</mapper>