<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.EnterpriseAccountMapper">
    <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.EnterpriseAccount">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ent_id" property="entId" jdbcType="BIGINT"/>
        <result column="prd_id" property="prdId" jdbcType="BIGINT"/>
        <result column="account" property="account" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        ent_id,
        prd_id,
        account,
        create_time,
        update_time,
        delete_flag,
        version
    </sql>

    <insert id="insert"
            useGeneratedKeys="true" keyProperty="id"
            parameterType="com.cmcc.vrp.province.model.EnterpriseAccount">
        insert into enterprise_account(
        ent_id,
        prd_id,
        account,
        create_time,
        update_time,
        delete_flag,
        version)
        values (
        #{entId,jdbcType=BIGINT},
        #{prdId,jdbcType=BIGINT},
        #{account,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{deleteFlag,jdbcType=INTEGER},
        #{version,jdbcType=BIGINT})
    </insert>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        enterprise_account
        where
        entId = #{eid, jdbcType=BIGINT} and
        prdId = #{pid, jdbcType=BIGINT}
    </select>

    <update id="delete">
        update
        enterprise_account
        set
        delete_flag = 1
        where
        entId = #{eid, jdbcType=BIGINT} and
        prdId = #{pid, jdbcType=BIGINT}
    </update>

    <update id="deleteByEnterId">
        update
        enterprise_account
        set
        delete_flag = 1
        where
        entId = #{eid, jdbcType=BIGINT} and
        delete_flag = 0
    </update>

    <update id="update" parameterType="com.cmcc.vrp.province.model.EnterpriseAccount">
        update
        enterprise_account
        set
        account = #{account, jdbcType=BIGINT} and
        version = version + 1 and
        delete_flag = 0
        where
        entId = #{entId, jdbcType=BIGINT} and
        prdId = #{prdId, jdbcType=BIGINT} and
        version = #{version, jdbcType=BIGINT}
    </update>

    <select id="getByEntId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        enterprise_account
        where
        entId= #{eid, jdbcType=BIGINT} and
        delete_flag = 0
    </select>
</mapper>