<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.IndividualFlowOrderMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.IndividualFlowOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="prd_id" property="prdId" jdbcType="BIGINT" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="system_num" property="systemNum" jdbcType="VARCHAR" />
    <result column="ec_serial_num" property="ecSerialNum" jdbcType="VARCHAR" />
    <result column="boss_serial_num" property="bossSerialNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, prd_id, size, system_num, ec_serial_num, boss_serial_num, status, error_msg, 
    create_time, update_time, expire_time, delete_flag
  </sql>
  
  <resultMap id="ExtendsResultMap" extends="BaseResultMap" type="com.cmcc.vrp.province.model.IndividualFlowOrder">
      <result column="productSize" property="productSize" jdbcType="BIGINT"/>
      <result column="productName" property="productName" jdbcType="VARCHAR"/>
      <result column="price" property="price" jdbcType="BIGINT"/>       
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from individual_flow_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from individual_flow_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.vrp.province.model.IndividualFlowOrder" useGeneratedKeys="true"
            keyProperty="id">
    insert into individual_flow_order (id, mobile, prd_id, 
      size, system_num, ec_serial_num, 
      boss_serial_num, status, error_msg, 
      create_time, update_time, expire_time, delete_flag
      )
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{prdId,jdbcType=BIGINT}, 
      #{size,jdbcType=BIGINT}, #{systemNum,jdbcType=VARCHAR}, #{ecSerialNum,jdbcType=VARCHAR}, 
      #{bossSerialNum,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{errorMsg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP},
      #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.IndividualFlowOrder" useGeneratedKeys="true"
            keyProperty="id">
    insert into individual_flow_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="prdId != null" >
        prd_id,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="systemNum != null" >
        system_num,
      </if>
      <if test="ecSerialNum != null" >
        ec_serial_num,
      </if>
      <if test="bossSerialNum != null" >
        boss_serial_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="prdId != null" >
        #{prdId,jdbcType=BIGINT},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="systemNum != null" >
        #{systemNum,jdbcType=VARCHAR},
      </if>
      <if test="ecSerialNum != null" >
        #{ecSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="bossSerialNum != null" >
        #{bossSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.IndividualFlowOrder" useGeneratedKeys="true"
            keyProperty="id">
    update individual_flow_order
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="prdId != null" >
        prd_id = #{prdId,jdbcType=BIGINT},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="systemNum != null" >
        system_num = #{systemNum,jdbcType=VARCHAR},
      </if>
      <if test="ecSerialNum != null" >
        ec_serial_num = #{ecSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="bossSerialNum != null" >
        boss_serial_num = #{bossSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.IndividualFlowOrder" >
    update individual_flow_order
    set mobile = #{mobile,jdbcType=VARCHAR},
      prd_id = #{prdId,jdbcType=BIGINT},
      size = #{size,jdbcType=BIGINT},
      system_num = #{systemNum,jdbcType=VARCHAR},
      ec_serial_num = #{ecSerialNum,jdbcType=VARCHAR},
      boss_serial_num = #{bossSerialNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectBySystemNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from individual_flow_order
    where system_num = #{systemNum,jdbcType=VARCHAR}
  </select>
  
  <select id="countByDate" resultType="java.lang.Integer">
    select 
        count(*)
    from individual_flow_order
    where delete_flag = 0
    and create_time &lt;= #{endTime}
    and create_time &gt;= #{startTime}
  </select>
  
  <select id="selectByMap" resultMap="ExtendsResultMap" parameterType="java.util.Map">
        select
            a.*, p.product_size as productSize, p.name as productName, p.price as price
        from individual_flow_order a
        left join individual_product p on p.id = a.prd_id
        where 
        a.delete_flag = 0
        <if test="status != null and status != ''">
            and a.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="mobile != null and mobile != ''">
            and a.mobile like CONCAT('%',CONCAT(#{mobile},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
            and a.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and a.create_time &lt;= #{endTime}
        </if>
        order by a.create_time desc
        
        <if test="pageNum != null and pageSize != null">
            LIMIT
            #{pageNum},#{pageSize}  
        </if>    
    </select>
    
    <select id="countByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
            count(*)
        from individual_flow_order a
        where 
        a.delete_flag = 0
        <if test="status != null and status != ''">
            and a.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="mobile != null and mobile != ''">
            and a.mobile like CONCAT('%',CONCAT(#{mobile},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
            and a.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and a.create_time &lt;= #{endTime}
        </if>
   
    </select>
  
</mapper>