<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.IndividualFlowcoinPurchaseMapper">
    <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="admin_id" property="adminId" jdbcType="BIGINT"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="system_serial" property="systemSerial" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, admin_id, count, price, status, create_time, update_time,
        expire_time, delete_flag, version, system_serial
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from individual_flowcoin_purchase
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from individual_flowcoin_purchase
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase" useGeneratedKeys="true"
            keyProperty="id">
        insert into individual_flowcoin_purchase (id, admin_id, count,
        price, status, create_time,
        update_time, expire_time,
        delete_flag, version, system_serial)
        values (#{id,jdbcType=BIGINT}, #{adminId,jdbcType=BIGINT}, #{count,jdbcType=INTEGER},
        #{price,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER},
        #{version,jdbcType=BIGINT},
        #{systemSerial,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into individual_flowcoin_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="systemSerial != null">
                system_serial,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="systemSerial != null">
                #{systemSerial,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase">
        update individual_flowcoin_purchase
        <set>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="systemSerial != null">
                system_serial = #{systemSerial,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase">
        update individual_flowcoin_purchase
        set admin_id = #{adminId,jdbcType=BIGINT},
        count = #{count,jdbcType=INTEGER},
        price = #{price,jdbcType=DECIMAL},
        status = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
        version = #{version,jdbcType=BIGINT},
        system_serial = #{systemSerial,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from individual_flowcoin_purchase
        where
        delete_flag = 0
        <if test="adminId != null">
            and admin_id = #{adminId}
        </if>
        <if test="status != null">
            and status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">  
                 #{item}  
            </foreach>
        </if>
        <if test="startDate != null">
            and Date(create_time) &gt;= Date(#{startDate})
        </if>
        <if test="endDate != null">
            and Date(create_time) &lt;= Date(#{endDate})
        </if>
        order by
        create_time DESC,
        update_time DESC
        <if test="pageNum != null and pageSize != null">
            LIMIT
            #{pageNum},#{pageSize}
        </if>
    </select>

    <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(0)
        from individual_flowcoin_purchase
        where
        delete_flag = 0
        <if test="adminId != null">
            and admin_id = #{adminId}
        </if>
        <if test="status != null">
            and status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">  
                 #{item}  
            </foreach>
        </if>
        <if test="startDate != null">
            and Date(create_time) &gt;= Date(#{startDate})
        </if>
        <if test="endDate != null">
            and Date(create_time) &lt;= Date(#{endDate})
        </if>
    </select>

    <select id="selectBySystemSerial" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from individual_flowcoin_purchase
        where system_serial = #{systemSerial,jdbcType=VARCHAR}
    </select>

    <update id="updateStatus">
        update
        individual_flowcoin_purchase
        set
        status = #{status, jdbcType=INTEGER}
        where system_serial = #{systemSerial,jdbcType=VARCHAR}
    </update>

    <update id="updateBySystemSerial" parameterType="com.cmcc.vrp.province.model.IndividualFlowcoinPurchase">
        update individual_flowcoin_purchase
        <set>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
        </set>
        where system_serial = #{systemSerial,jdbcType=VARCHAR}
    </update>

</mapper>