<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.MonthlyPresentRuleMapper">
	<resultMap id="BaseResultMap"
		type="com.cmcc.vrp.province.model.MonthlyPresentRule">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="ent_id" property="entId" jdbcType="BIGINT" />
		<result column="total" property="total" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="month_count" property="monthCount" jdbcType="INTEGER" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="creator_id" property="creatorId" jdbcType="BIGINT" />
		<result column="updater_id" property="updaterId" jdbcType="BIGINT" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="use_sms" property="useSms" jdbcType="INTEGER" />
		<result column="sms_template_id" property="smsTemplateId"
			jdbcType="BIGINT" />
		<result column="activity_name" property="activityName"
			jdbcType="VARCHAR" />
        <result column="given_count" property="givenCount" jdbcType="INTEGER" />
        <result column="prd_id" property="prdId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, ent_id, total, status, month_count, start_time, end_time,
		create_time, update_time,
		creator_id, updater_id, delete_flag, version, use_sms, sms_template_id,
		activity_name, given_count,prd_id
	</sql>

	<resultMap id="ExtendResultMap" extends="BaseResultMap"
		type="com.cmcc.vrp.province.model.MonthlyPresentRule">
		<result column="entName" property="entName" jdbcType="VARCHAR" />
		<result column="entCode" property="entCode" jdbcType="VARCHAR" />
		<result column="productId" property="productId" jdbcType="BIGINT" />
		<result column="productName" property="productName" jdbcType="VARCHAR" />
		<result column="productCode" property="productCode" jdbcType="VARCHAR" />
		<result column="productSize" property="productSize" jdbcType="BIGINT" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<include refid="Base_Column_List" />
		from monthly_present_rule
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from monthly_present_rule
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.cmcc.vrp.province.model.MonthlyPresentRule"
		useGeneratedKeys="true" keyProperty="id">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into monthly_present_rule (id, ent_id, total,
		status, month_count, start_time,
		end_time, create_time, update_time,
		creator_id, updater_id, delete_flag,
		version, use_sms, sms_template_id,
		activity_name)
		values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT},
		#{total,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER}, #{monthCount,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{creatorId,jdbcType=BIGINT}, #{updaterId,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER},
		#{version,jdbcType=INTEGER}, #{useSms,jdbcType=INTEGER},
		#{smsTemplateId,jdbcType=BIGINT},
		#{activityName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.MonthlyPresentRule"
		useGeneratedKeys="true" keyProperty="id">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into monthly_present_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="entId != null">
				ent_id,
			</if>
			<if test="total != null">
				total,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="monthCount != null">
				month_count,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="creatorId != null">
				creator_id,
			</if>
			<if test="updaterId != null">
				updater_id,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="useSms != null">
				use_sms,
			</if>
			<if test="smsTemplateId != null">
				sms_template_id,
			</if>
			<if test="activityName != null">
				activity_name,
			</if>
            <if test="givenCount != null">
                given_count,
            </if>
            <if test="prdId != null">
                prd_id,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="entId != null">
				#{entId,jdbcType=BIGINT},
			</if>
			<if test="total != null">
				#{total,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="monthCount != null">
				#{monthCount,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=BIGINT},
			</if>
			<if test="updaterId != null">
				#{updaterId,jdbcType=BIGINT},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="useSms != null">
				#{useSms,jdbcType=INTEGER},
			</if>
			<if test="smsTemplateId != null">
				#{smsTemplateId,jdbcType=BIGINT},
			</if>
			<if test="activityName != null">
				#{activityName,jdbcType=VARCHAR},
			</if>
            <if test="givenCount != null">
                #{givenCount,jdbcType=INTEGER},
            </if>
            <if test="prdId != null">
                #{prdId,jdbcType=BIGINT},
            </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.MonthlyPresentRule">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update monthly_present_rule
		<set>
			<if test="entId != null">
				ent_id = #{entId,jdbcType=BIGINT},
			</if>
			<if test="total != null">
				total = #{total,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="monthCount != null">
				month_count = #{monthCount,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				creator_id = #{creatorId,jdbcType=BIGINT},
			</if>
			<if test="updaterId != null">
				updater_id = #{updaterId,jdbcType=BIGINT},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="useSms != null">
				use_sms = #{useSms,jdbcType=INTEGER},
			</if>
			<if test="smsTemplateId != null">
				sms_template_id = #{smsTemplateId,jdbcType=BIGINT},
			</if>
			<if test="activityName != null">
				activity_name = #{activityName,jdbcType=VARCHAR},
			</if>
            <if test="givenCount != null">
                given_count = #{givenCount,jdbcType=INTEGER},
            </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.MonthlyPresentRule">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update monthly_present_rule
		set ent_id = #{entId,jdbcType=BIGINT},
		total = #{total,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		month_count = #{monthCount,jdbcType=INTEGER},
		start_time = #{startTime,jdbcType=TIMESTAMP},
		end_time = #{endTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		creator_id = #{creatorId,jdbcType=BIGINT},
		updater_id = #{updaterId,jdbcType=BIGINT},
		delete_flag = #{deleteFlag,jdbcType=INTEGER},
		version = #{version,jdbcType=INTEGER},
		use_sms = #{useSms,jdbcType=INTEGER},
		sms_template_id = #{smsTemplateId,jdbcType=BIGINT},
		activity_name = #{activityName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getRules" resultMap="ExtendResultMap" parameterType="java.util.Map">
		select
		rule.*,
		product.name as productName
		from
		monthly_present_rule rule
		left join product
		on product.id=rule.prd_id
		where
		rule.delete_flag = 0
		<if test="activityName != null and activityName != ''">
			and rule.activityName like
			CONCAT('%',CONCAT(#{activityName,jdbcType=VARCHAR},'%'))
		</if>
		<if test="status != null">
			and rule.status = #{status,jdbcType=INTEGER}
		</if>
		<if test="creatorId != null">
			and rule.creator_id = #{creatorId,jdbcType=BIGINT}
		</if>
		<if test="startTime != null  and  startTime !='' ">
			and rule.create_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and  endTime !=''">
			and rule.create_time &lt;= #{endTime}
		</if>
		order by rule.create_time desc
		<if test="pageSize != null and pageNum!=null and pageSize != 0">
			LIMIT #{pageNum}, #{pageSize}
		</if>
	</select>

	<select id="countRules" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select
		count(rule.id)
		from
		monthly_present_rule rule
		left join product
        on rule.prd_id=product.id
		where
		rule.delete_flag = 0
		<if test="activityName != null and activityName != ''">
			and rule.activityName like
			CONCAT('%',CONCAT(#{activityName,jdbcType=VARCHAR},'%'))
		</if>
		<if test="status != null">
			and rule.status = #{status,jdbcType=INTEGER}
		</if>
		<if test="creatorId != null">
			and rule.creator_id = #{creatorId,jdbcType=BIGINT}
		</if>
		<if test="startTime != null  and  startTime !='' ">
			and rule.create_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and  endTime !=''">
			and rule.create_time &lt;= #{endTime}
		</if>
	</select>

	<select id="getDetailByRuleId" resultMap="ExtendResultMap"
		parameterType="java.lang.Long">
		select
		rule.*,
		e.name as entName,
		e.code as entCode,
		p.name as productName,
		p.product_size as productSize
		from
		monthly_present_rule rule
		left join enterprises e on
		e.id = rule.ent_id
		left join product p on
		p.id=rule.prd_id
		where
		rule.delete_flag = 0
		and rule.id = #{ruleId,jdbcType=BIGINT}
	</select>
	
	<update id="updateRuleStatusFini">
        UPDATE 
        monthly_present_rule set status = 1 where id in 
        (SELECT a.rule_id from 
            (SELECT DISTINCT(rule_id) from monthly_present_record record 
            LEFT JOIN monthly_present_rule rule on rule.id = record.rule_id 
            where record.status != 1 and 
            (SELECT MAX(give_month) FROM monthly_present_record b WHERE record.rule_id=b.rule_id)=rule.month_count) a);
    </update>
	
</mapper>