<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.SdAccountChargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.SdAccountChargeRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="opr" property="opr" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="pkg_seq" property="pkgSeq" jdbcType="VARCHAR" />
    <result column="ecid" property="ecid" jdbcType="VARCHAR" />
    <result column="acct_id" property="acctId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="pay" property="pay" jdbcType="BIGINT" />
    <result column="opr_eff_time" property="oprEffTime" jdbcType="TIMESTAMP" />
    <result column="acct_seq" property="acctSeq" jdbcType="VARCHAR" />
    <result column="acct_no" property="acctNo" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="request_body" property="requestBody" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="plat_account_id" property="platAccountId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="change_detail_id" property="changeDetailId" jdbcType="BIGINT" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, opr, type, pkg_seq, ecid, acct_id, user_id, product_id, pay, opr_eff_time, acct_seq, 
    acct_no, param_name, param_value, request_body, create_time, update_time, plat_account_id, 
    status, message, delete_flag, change_detail_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from sd_account_charge_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from sd_account_charge_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.vrp.province.model.SdAccountChargeRecord" useGeneratedKeys="true" keyProperty="id">
    insert into sd_account_charge_record (id, opr, type, 
      pkg_seq, ecid, acct_id, 
      user_id, product_id, pay, 
      opr_eff_time, acct_seq, acct_no, 
      param_name, param_value, request_body, 
      create_time, update_time, plat_account_id, 
      status, message, delete_flag, change_detail_id
      )
    values (#{id,jdbcType=BIGINT}, #{opr,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{pkgSeq,jdbcType=VARCHAR}, #{ecid,jdbcType=VARCHAR}, #{acctId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{pay,jdbcType=BIGINT}, 
      #{oprEffTime,jdbcType=TIMESTAMP}, #{acctSeq,jdbcType=VARCHAR}, #{acctNo,jdbcType=VARCHAR}, 
      #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, #{requestBody,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{platAccountId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, #{change_detail_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.SdAccountChargeRecord" useGeneratedKeys="true" keyProperty="id">
    insert into sd_account_charge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="opr != null" >
        opr,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pkgSeq != null" >
        pkg_seq,
      </if>
      <if test="ecid != null" >
        ecid,
      </if>
      <if test="acctId != null" >
        acct_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="oprEffTime != null" >
        opr_eff_time,
      </if>
      <if test="acctSeq != null" >
        acct_seq,
      </if>
      <if test="acctNo != null" >
        acct_no,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="requestBody != null" >
        request_body,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="platAccountId != null" >
        plat_account_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="changeDetailId != null" >
        change_detail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="opr != null" >
        #{opr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pkgSeq != null" >
        #{pkgSeq,jdbcType=VARCHAR},
      </if>
      <if test="ecid != null" >
        #{ecid,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=BIGINT},
      </if>
      <if test="oprEffTime != null" >
        #{oprEffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acctSeq != null" >
        #{acctSeq,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null" >
        #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="requestBody != null" >
        #{requestBody,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platAccountId != null" >
        #{platAccountId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="changeDetailId != null" >
        #{changeDetailId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.SdAccountChargeRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update sd_account_charge_record
    <set >
      <if test="opr != null" >
        opr = #{opr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="pkgSeq != null" >
        pkg_seq = #{pkgSeq,jdbcType=VARCHAR},
      </if>
      <if test="ecid != null" >
        ecid = #{ecid,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null" >
        acct_id = #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=BIGINT},
      </if>
      <if test="oprEffTime != null" >
        opr_eff_time = #{oprEffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acctSeq != null" >
        acct_seq = #{acctSeq,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null" >
        acct_no = #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="requestBody != null" >
        request_body = #{requestBody,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platAccountId != null" >
        plat_account_id = #{platAccountId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="changeDetailId != null" >
        change_detail_id = #{changeDetailId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.SdAccountChargeRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update sd_account_charge_record
    set opr = #{opr,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      pkg_seq = #{pkgSeq,jdbcType=VARCHAR},
      ecid = #{ecid,jdbcType=VARCHAR},
      acct_id = #{acctId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      pay = #{pay,jdbcType=BIGINT},
      opr_eff_time = #{oprEffTime,jdbcType=TIMESTAMP},
      acct_seq = #{acctSeq,jdbcType=VARCHAR},
      acct_no = #{acctNo,jdbcType=VARCHAR},
      param_name = #{paramName,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      request_body = #{requestBody,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      plat_account_id = #{platAccountId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      change_detail_id = #{changeDetailId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>