<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.WxAdministerMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.vrp.province.model.WxAdminister" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="password_new" property="passwordNew" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="password_update_time" property="passwordUpdateTime" jdbcType="TIMESTAMP" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="citys" property="citys" jdbcType="VARCHAR" />
    <result column="user_uuid" property="userUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, password, password_new, salt, password_update_time, mobile_phone, 
    creator_id, pic_url, email, create_time, update_time, delete_flag, citys, user_uuid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wx_administer
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <!-- 根据手机号码查询用户对象 -->
  <select id="selectByMobilePhone" resultMap="BaseResultMap" parameterType="java.lang.String">
      select
      <include refid="Base_Column_List"/>
      from wx_administer
      where
      mobile_phone = #{phone,jdbcType=VARCHAR} and
      delete_flag = 0
  </select>
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wx_administer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.vrp.province.model.WxAdminister" 
  useGeneratedKeys="true" keyProperty="id">
    insert into wx_administer (id, user_name, password, 
      password_new, salt, password_update_time, 
      mobile_phone, creator_id, pic_url, 
      email, create_time, update_time, 
      delete_flag, citys, user_uuid
      )
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{passwordNew,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{passwordUpdateTime,jdbcType=TIMESTAMP}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, #{picUrl,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=INTEGER}, #{citys,jdbcType=VARCHAR}, #{userUuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.vrp.province.model.WxAdminister" 
  useGeneratedKeys="true" keyProperty="id">
    insert into wx_administer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="passwordNew != null" >
        password_new,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="passwordUpdateTime != null" >
        password_update_time,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="citys != null" >
        citys,
      </if>
      <if test="userUuid != null" >
        user_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordNew != null" >
        #{passwordNew,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="passwordUpdateTime != null" >
        #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="citys != null" >
        #{citys,jdbcType=VARCHAR},
      </if>
      <if test="userUuid != null" >
        #{userUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.province.model.WxAdminister" >
    update wx_administer
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordNew != null" >
        password_new = #{passwordNew,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="passwordUpdateTime != null" >
        password_update_time = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="citys != null" >
        citys = #{citys,jdbcType=VARCHAR},
      </if>
      <if test="userUuid != null" >
        user_uuid = #{userUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.province.model.WxAdminister" >
    update wx_administer
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      password_new = #{passwordNew,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      password_update_time = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      citys = #{citys,jdbcType=VARCHAR},
      user_uuid = #{userUuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>