<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.vrp.province.dao.WxInviteRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.vrp.wx.model.WxInviteRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="invite_serial" property="inviteSerial" jdbcType="VARCHAR" />
    <result column="invite_admin_id" property="inviteAdminId" jdbcType="BIGINT" />
    <result column="invited_admin_id" property="invitedAdminId" jdbcType="BIGINT" />
    <result column="invited_openid" property="invitedOpenid" jdbcType="VARCHAR" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="invite_time" property="inviteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, invite_serial, invite_admin_id, invited_admin_id, invited_openid, ticket, invite_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wx_invite_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wx_invite_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.vrp.wx.model.WxInviteRecord" >
    insert into wx_invite_record (id, invite_serial, invite_admin_id, 
      invited_admin_id, invited_openid, ticket, 
      invite_time)
    values (#{id,jdbcType=BIGINT}, #{inviteSerial,jdbcType=VARCHAR}, #{inviteAdminId,jdbcType=BIGINT}, 
      #{invitedAdminId,jdbcType=BIGINT}, #{invitedOpenid,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, 
      #{inviteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.vrp.wx.model.WxInviteRecord" >
    insert into wx_invite_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inviteSerial != null" >
        invite_serial,
      </if>
      <if test="inviteAdminId != null" >
        invite_admin_id,
      </if>
      <if test="invitedAdminId != null" >
        invited_admin_id,
      </if>
      <if test="invitedOpenid != null" >
        invited_openid,
      </if>
      <if test="ticket != null" >
        ticket,
      </if>
      <if test="inviteTime != null" >
        invite_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="inviteSerial != null" >
        #{inviteSerial,jdbcType=VARCHAR},
      </if>
      <if test="inviteAdminId != null" >
        #{inviteAdminId,jdbcType=BIGINT},
      </if>
      <if test="invitedAdminId != null" >
        #{invitedAdminId,jdbcType=BIGINT},
      </if>
      <if test="invitedOpenid != null" >
        #{invitedOpenid,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="inviteTime != null" >
        #{inviteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.vrp.wx.model.WxInviteRecord" >
    update wx_invite_record
    <set >
      <if test="inviteSerial != null" >
        invite_serial = #{inviteSerial,jdbcType=VARCHAR},
      </if>
      <if test="inviteAdminId != null" >
        invite_admin_id = #{inviteAdminId,jdbcType=BIGINT},
      </if>
      <if test="invitedAdminId != null" >
        invited_admin_id = #{invitedAdminId,jdbcType=BIGINT},
      </if>
      <if test="invitedOpenid != null" >
        invited_openid = #{invitedOpenid,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="inviteTime != null" >
        invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.vrp.wx.model.WxInviteRecord" >
    update wx_invite_record
    set invite_serial = #{inviteSerial,jdbcType=VARCHAR},
      invite_admin_id = #{inviteAdminId,jdbcType=BIGINT},
      invited_admin_id = #{invitedAdminId,jdbcType=BIGINT},
      invited_openid = #{invitedOpenid,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=VARCHAR},
      invite_time = #{inviteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectBySerialNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wx_invite_record
    where invite_serial = #{serialNum,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from wx_invite_record
        where 
        1=1
        <if test="inviteAdminId != null and inviteAdminId != ''">
            and invite_admin_id = #{inviteAdminId,jdbcType=BIGINT}
        </if>
        <if test="invitedAdminId != null and invitedAdminId != ''">
            and invited_admin_id = #{invitedAdminId,jdbcType=BIGINT}
        </if>
        <if test="startTime != null and startTime != ''">
            and invite_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and invite_time &lt;= #{endTime}
        </if>
    </select>
</mapper>